@import "tailwindcss";

body {
  font-family: Arial, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}

.chat-input {
  font-size: 15px;
  padding: 12px 15px;
  border-width: 1px;
  border-radius: 10px;
  flex-grow: 1;
}

.send-button {
  background-color: rgb(25, 135, 84);
  color: white;
  padding: 12px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.chat-messages-container {
  flex-grow: 1;
  margin-bottom: 20px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.chat-input-container {
  display: flex;
  margin-bottom: 60px;
}

.app-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}

.chat-message {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.chat-message-user {
  flex-direction: row;
  justify-content: end;
}

.chat-message-robot {
  flex-direction: row-reverse;
  justify-content: start;
}

.chat-message-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chat-timestamp {
  font-size: 10px;
  color: #888;
  margin-top: 4px;
}

.timestamp-user {
  align-self: flex-end;
}

.timestamp-robot {
  align-self: flex-start;
}

.chat-message-text {
  background-color: rgb(238, 238, 238);
  padding: 15px 20px;
  border-radius: 10px;
  max-width: 300px;
}

.chat-message-profile {
  width: 45px;
  height: 45px;
}

.chat-loading-gif {
  height: 40px;
}
.welcome-message {
  color: #888;
  text-align: center;
  flex-grow: 1;
}
